/* PlayerBanner Component Styles */

.pb-banner {
  width: 100%;
  padding: 10px 40px 0px 40px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  position: relative;
  border-bottom: 1px solid black;
}

.pb-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.pb-left-section {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.pb-player-info {
  margin: 20px;
  margin-bottom: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 6px;
}

.pb-player-name {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}

.pb-stats-container {
  margin: auto 0;
  display: flex;
  gap: 16px;
}

.pb-winrate-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.role-selected {
  background: var(--accent) !important;
  border: 1px solid var(--muted-foreground) !important;
}

.pb-roles-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.pb-role-stat {
  padding: 1px 10px 1px 5px;
  border-radius: 5px;
  background: var(--background);
  border: 1px solid var(--border-light);
  display: flex;
  cursor: pointer;
}

.pb-role-stat:hover {
  background: var(--secondary);
}

.pb-role-icon {
  width: 37px;
  height: 37px;
}

.pb-role-winrate {
  align-self: center;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 5px;
}

.pb-role-winrate > p:first-child {
  min-width: 33px;
}

.pb-role-winrate > p:last-child {
  text-align: right;
  width: 75px;
}

.pb-tabs-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.pb-tabs-container > div {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px 5px 0px 0px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .pb-banner {
    padding: 10px 20px 0px 20px;
  }

  .pb-content {
    flex-direction: column;
    align-items: center;
  }

  .pb-left-section {
    margin-right: 0;
    justify-content: center;
  }

  .pb-stats-container {
    flex-direction: column;
  }

  .pb-winrate-box,
  .pb-roles-box {
    margin: 10px 0;
  }

  .pb-tabs-container {
    justify-content: center;
    margin-right: 0;
  }
}
