/* PlayerTabs Component Styles */

.pt-container {
  border: 1px solid var(--border-light);
}

.pt-tabs-row {
  display: flex;
  flex-wrap: wrap;
}

.pt-tab {
  text-align: center;
  display: flex;
  height: 3rem;
}

.pt-tab:first-child {
  border-left: none !important;
}

.pt-tab-active {
  border-top: 1px solid var(--border-light);
  border-left: 1px solid var(--border-light);
  border-right: 1px solid var(--border-light);
}

.pt-tab-inactive {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid var(--border-light);
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}

.pt-tab-content {
  margin: auto;
  padding: 0 1rem;
}

.pt-player-name {
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-left: 2.5rem;
}

/* Summoner name with tagline styles */
.pt-summoner-name-container {
  display: flex;
  align-items: baseline;
  gap: 6px;
  margin-top: 1.25rem;
  margin-left: 2.5rem;
}

.pt-summoner-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.pt-summoner-tagline {
  font-size: 1.2rem;
  opacity: 0.3;
}

.pt-stats-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.pt-stat-box {
  width: 20%;
  height: 6rem;
  text-align: center;
  padding: 1rem 0;
  min-width: 100px;
}

.pt-stat-number {
  font-size: 1.5rem;
}

.pt-stat-text {
  font-size: 1rem;
}
